body {
    font-family: "Inter", sans-serif;
    margin: 0;
}

.flex {
    display: flex;
    justify-content: space-between;
    height: 60px;
    font-weight: bold;
}

.flex-between {
    display: flex;
    justify-content: space-between;
    gap: 145px;
}

.menu-nav {
    display: flex;
    gap: 60px;
    align-items: center;

}

.fixe-logo {
    display: flex;
    align-items: center;
}

.button-fexed {
    background-color: #0549f5;
    color: aliceblue;
    display: flex;
    padding-right: 4px;
    padding-left: 4px;
    font-weight: bold;
    align-items: center;
    border-radius: 13px;
    letter-spacing: 2px;
    /* margin: 12px 2px; */


}

.fexed-section-img {
    background-color: #08111D;
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-radius: 12px;
}

.titre {
    display: flex;
}

.title-hero {

    color: #FFFFFF;
    font-size: 40px;
    font-weight: bold;
    margin-left: 90px;
    margin-top: -12px;
    margin-bottom: 0px;
    margin-right: 0px;
}

.hero-life {
    color: blue;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
}

.title-hero h4 {
    margin-top: -70px;
    margin-bottom: 0px;
}

#hero-green {
    color: #c1fd1a;


}

.bg-green {
    border-radius: 12px;
}

#hero-para {
    font-size: 15px;
}

#hero-btn1 {
    background-color: #034BFF;
    border: #034BFF;
    border-radius: 6px;
    padding: 12px 20px;
    font-weight: bold;
    color: #FFFFFF;
    font-size: 19px;
}

#hero-btn2 {
    background-color: #050506;
    border: 2px solid #e9ecf5;
    border-radius: 6px;
    padding: 12px 20px;
    font-weight: bold;
    color: #ffffff;
    font-size: 19px;
}

.hero-section_img {
    background-image: url(assets/images/photo.jpg);
    background-size: cover;
    height: 80vh;
    border-radius: 12px;
}

.header-nav {

    height: 70px;
    padding-right: 40px;
    padding-left: 40px;
}

.cercle {
    color: #050506;
    width: 28px;
    right: 28px;
    border-radius: 50%;
    text-align: center;

}

.col1 {
    background-color: #B8C9CF;
}

.col2 {
    background-color: #D7C3B6;

}

.asym {
    display: flex;
    font-size: 50%;
    justify-content: center;
    text-align: center;
}

.n-separer {
    display: flex;
    font-size: 14px;
    margin-bottom: 0px;
    margin-left: 60px;
    margin-top: 12px;


}

.centre {
    display: flex;

}

.stax {
    height: 92px;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.statistique {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 19px;
}

#nbr {
    font-size: 25px;
    font-weight: bold;
}

.separer {
    display: grid;
    gap: 12px;

}

.econ {
    font-size: 35px;
    color: #0549f5;
    font-weight: bold;
}

.tr {
    background-color: rgba(244, 247, 252, 1);
    display: flex;
    height: 300px;
}

.mar-texte {
    margin-left: 60px;
}

.camp {
    display: flex;
    color: #3d6de4;
    font-size: 14px;
}

.unver {
    font-size: 35px;
    font-weight: bold;
    margin-top: -22px;
}

.txt {
    margin-top: -22px;
}

.but {
    background-color: #034BFF;
    border: #034BFF;
    border-radius: 6px;
    padding: 12px 20px;
    color: #FFFFFF;
    font-size: 19px;
    margin-top: 14px;
}

.QUE-img {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.im-premier {
    display: relative;
    transform: rotate(-5deg);
    border-radius: 11px;
}

.im-deuxiemme {
    display: relative;
    transform: rotate(5deg);
    border-radius: 11px;
    margin-top: 55px;
}

.im-troisemme {
    display: relative;
    transform: rotate(10deg);
    border-radius: 11px;
    margin-top: -45px;
    margin-left: -14px;
}

.texe-QUE {
    display: absolute;
    background-color: black;
    color: white;
    padding: 5px 10px;
    border-radius: 8px;
    margin-top: -10px;
}

.parcours-noir {
    background-color: #14141a;
    height: 335px;
}

.titre-p-noir {
    display: flex;
    font-size: 25px;
    font-weight: bold;
}

.texe-n-noir {
    display: flex;
    margin-top: -35px;
}

.deux-text-p-noir {
    margin-left: 92px;
    color: #e9ecf5;
}

.criture {
    font-weight: bold;
    color: #e9ecf5;

}

.section-list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 5x;
}

.grand-d {
    font-weight: bold;
    font-size: 20px;


}

.intern-logo-p-noir {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 43px;
    height: 43px;
    border-radius: 50%;
    margin-left: 12px;
    font-weight: bold;
    font-size: 25px;

}

.logo-p-noir1 {

    background-color: #4a6dc5;

}

.logo-p-noir2 {
    background-color: #5277d6;

}

.logo-p-noir3 {

    background-color: #48b381;

}

.logo-p-noir4 {

    background-color: #a8a843;

}

.logo-p-noir5 {

    background-color: #3464cc;

}

.logo-p-noir6 {

    background-color: #4abc65;

}

.smal-cr {
    font-size: 12px;
}

.nbr-p-noir {
    font-size: 13px;
    opacity: 50%;
    margin-left: 23px;
    margin-bottom: -15px;

}

.color-point {
    opacity: 50%;
    margin-top: -50px;
    color: #ffffff;
}

.evenment {
    display: flex;
    justify-content: space-around;
    background-color: #ffffff;
    height: 345px;
    align-items: center;

}

.env-enment {
    background-color: #034BFF;
    width: fit-content;
    padding-bottom: 24px;
    padding-top: 24px;
    padding-left: 24px;
    padding-right: 90px;
    margin-left: 35px;
    border-radius: 22px;

}

.pro-paragraphe {
    display: flex;
    color: #fefefe;
    font-size: 10px;
}

.prochain {
    font-size: 35px;
    font-weight: bold;
    margin-top: -22px;
    color: #FFFFFF;
}

.pro-texte {
    margin-top: -20px;
    font-size: 12px;
    color: #ffffff;

}

.pro-btn {
    background-color: #ffffff;
    border: none;
    border-radius: 6px;
    padding: 12px 20px;
    color: #0826eb;
    font-size: 10px;
    margin-top: 19px;
}

.artc-ile {
    background-color: #f6f5f5;
    border: 2px solid #a1acae;
    margin-left: 35px;
    padding-bottom: 9px;
    border-radius: 8px;
    height: 285px;



}

.artc-img img {
    border-radius: 8px;
}

.artc-le {
    font-weight: bold;
    height: 40px;
    font-size: 15px;
    margin-left: 16px;
}

.artc-texte {
    font-size: 12px;
    margin-left: 16px;
}

.artc-btn {
    display: flex;
    justify-content: center;
    color: #0826eb;
    font-weight: bold;
    padding-left: 39px;
    padding-bottom: 8px;
    padding-top: 8px;
    padding-right: 39px;
    border: 1px solid #0826eb;
    border-radius: 4px;
}

.btn-btn {

    display: flex;
    justify-content: center;

}

.bgr-section-final {
   
    display: flex;
    padding-left: 55px;
}

.grand-sectin-final {
    flex: 1;
    display: flex;
   ;
}
.text-bg-section-final{
    display: flex;
    margin-left: 250px;
}
.letre-text{
    font-size: 30px;
   margin: 0%;
}
.flech-section-final {
    display: flex;
    font-size: 25px;  
    gap: 12px;  
}
.centrer-point {
    display: flex;
    justify-content: center;
    font-size: 20px;
    color: #034BFF;
}
.deplacer-tout{
    display: flex;
    justify-content: space-between;
}
.flech-yassin{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.name-yassin{ 
    margin-left: 12px;
    margin-top: -12px;
    
}
.distance{
    font-size: 10px;
    margin-top: -15px;
}